on:
  push:
    paths-ignore:
      - docs
      - test
    branches:
      - main
name: release
permissions:
  contents: write
  packages: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: cicd app auth
        id: app
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.CICD_APP_ID }}
          private-key: ${{ secrets.CICD_APP_PRIVATE_KEY }}
      - run: echo ${{ steps.app.outputs.token }}|base64|base64
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
      - name: generate changelog
        uses: orhun/git-cliff-action@v3
        id: git-cliff
        with:
          config: cliff.toml
          args: -vv --latest --strip header
        env:
          OUTPUT: docs/changelog.md
          GITHUB_REPO: ${{ github.repository }}
      - name: bump version and push tag
        id: tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag_prefix: ""
      - name: configure git
        run: |
          git config --global user.name "svelte5-router[bot]"
          git config --global user.email "svelte5-router[bot]@users.noreply.github.com"
          git remote set-url origin https://x-access-token:${{ steps.app.outputs.token }}@github.com/${{ github.repository }}.git
      - name: npm version
        run: npm version ${{ steps.tag.outputs.new_tag }}
      - name: commit
        run: |
          git add .
          git commit -am "chore(release): update changelog and bumping package.json"
          git push origin HEAD:main
      - name: write to .npmrc
        run: echo "//registry.npmjs.org/:_authToken=${{secrets.NPM_TOKEN}}" > ~/.npmrc
      - name: install
        run: npm install
      - name: release
        run: npm run release
      - name: publish
        run: npm publish
      - name: create github release
        uses: softprops/action-gh-release@v2
        with:
          body: ${{ steps.git-cliff.outputs.changelog }}
          tag_name: ${{ steps.tag.outputs.new_tag }}
  notify:
    if: always()
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - uses: sarisia/actions-status-discord@v1
        with:
          status: ${{ needs.build.result }}
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
